div#admin-support-bar {
  position: fixed;
  bottom: 0px;
  right: 0px;
  z-index: 9999;
  width: 100%;
  height: 60px;
  background: #000;
  color: #fff;
  font-weight: bold;
  font-size: 1.25em;
}

div#admin-support-bar a {
  color: #fff;
}

div#admin-support-bar ul {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0 20px;
}

div#admin-support-bar ul li {
  float: left;
  height: 100px;
  padding: 0 20px;
  line-height: 65px;
}

div#admin-support-bar ul li.with-border {
  border-right: 2px solid #fff;
}

div#admin-support-bar ul li.company-logo {
  float: right;
  margin-top: -25px;
}